<div class="page-title-area">
    <div class="container">
        <div class="page-title-item">
            <h2>Welcome Username</h2>
            <ul>
            </ul>
        </div>
    </div>
</div>
<div class="favorite">
<h1 class="favorite-color">Favorites</h1>
</div>
<section class="blog-area blog-area-two pt-100 pb-70">
    
    <div class="container">
        
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="blog-item">
                    <a routerLink="/blog-details"><img src="assets/img/home-one/blog1.jpg" alt="Blog"></a>
                    <div class="blog-bottom">
                        <span>Movie Date</span>
                        <h3><a routerLink="/blog-details">Movie Name</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
                        <a class="blog-btn" routerLink="/blog-details">Details Component</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="blog-item">
                    <a routerLink="/blog-details"><img src="assets/img/home-one/blog1.jpg" alt="Blog"></a>
                    <div class="blog-bottom">
                        <span>Movie Date</span>
                        <h3><a routerLink="/blog-details">Movie Name</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
                        <a class="blog-btn" routerLink="/blog-details">Details Component</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="blog-item">
                    <a routerLink="/blog-details"><img src="assets/img/home-one/blog1.jpg" alt="Blog"></a>
                    <div class="blog-bottom">
                        <span>Movie Date</span>
                        <h3><a routerLink="/blog-details">Movie Name</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
                        <a class="blog-btn" routerLink="/blog-details">Details Component</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="blog-item">
                    <a routerLink="/blog-details"><img src="assets/img/home-one/blog1.jpg" alt="Blog"></a>
                    <div class="blog-bottom">
                        <span>Movie Date</span>
                        <h3><a routerLink="/blog-details">Movie Name</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
                        <a class="blog-btn" routerLink="/blog-details">Details Component</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="blog-item">
                    <a routerLink="/blog-details"><img src="assets/img/home-one/blog1.jpg" alt="Blog"></a>
                    <div class="blog-bottom">
                        <span>Movie Date</span>
                        <h3><a routerLink="/blog-details">Movie Name</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
                        <a class="blog-btn" routerLink="/blog-details">Details Component</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="blog-item">
                    <a routerLink="/blog-details"><img src="assets/img/home-one/blog1.jpg" alt="Blog"></a>
                    <div class="blog-bottom">
                        <span>Movie Date</span>
                        <h3><a routerLink="/blog-details">Movie Name</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
                        <a class="blog-btn" routerLink="/blog-details">Details Component</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>