<div class="page-title-area">
    <div class="container">
        <div class="page-title-item">
            <div>
            <h2>Welcome {{ userData.firstName }} {{ userData.lastName }}</h2>
            <h3>Info:</h3>
            <p><strong>Email:</strong> {{ userData.email }}</p>
            <p><strong>Address:</strong> {{ userData.address }}</p>
            <p><strong>Phone:</strong> {{ userData.phone }}</p>
            <button (click)="logout()">Logout</button>
            </div>
        </div>
    </div>
</div>
<div class="favorite">
<h1 class="favorite-color">Here are some of your favorite movies</h1>
</div>
<section class="blog-area blog-area-two pt-100 pb-70">
    
    <div class="container">
        
        <div class="row movie-row">
            <div class="col-sm-6 col-lg-4 movie-card" *ngFor="let movie of movies">
              <div class="blog-item" *ngIf="movies.length > 0">
                <div class="blog-bottom">
                  <img [src]="movie.image" alt="Movie Poster">
                  <span>Year Realized: {{ movie.year }}</span>
                  <h3><a routerLink="/blog-details">{{ movie.title }}</a></h3>
                  <p>{{ movie.description }}</p>
                  <button (click)="deleteMovie(movie)">Delete</button>
                </div>
              </div>
            </div>
          </div>
          
    </div>
</section>