<div class="user">
    <div class="user-image">
    <img [src]="userImage" alt="Image Description">
    </div>
    <div class="user-name">
        <h1>User Name</h1>
    </div>
</div>
<div class="center-container">
<div class="gray-box">
    <div class="password-container">
    <a href=""><p class="password">Change Password</p></a>
</div>
<div class="address-container">
    <a href=""><p class="address">Change Address</p></a>
</div>
<div class="card-container">
    <a href=""><p class="card">Change Card Information</p></a>
</div>
</div>
</div>
<div class="orders-container">
<div class="orders">
    <h1>Recent Orders</h1>
</div>
</div>
<div class="items-container">
    <div class="items">
    </div>
</div>
