<div class="category-btn">
  <h2 class="header-title">View All Available movies</h2>
  <button (click)="fetchMoviesByGenre('action')" class="on-hover" type="button">
    Action
  </button>
  <button (click)="fetchMoviesByGenre('comedy')" class="on-hover" type="button">
    Comedy
  </button>
  <button (click)="fetchMoviesByGenre('drama')" class="on-hover" type="button">
    Drama
  </button>
</div>

<div class="collection">
  <div *ngFor="let movie of movies" href="#" class="card">
    <div>
      <a [routerLink]="['/details', movie.id]" href="">
        <div class="content">
          <span style="text-align: center" class="title">{{
            movie.title
          }}</span>
          <span class="category">Realized In: {{ movie.year }}</span>
        </div>
        <div class="image">
          <img src="{{ movie.image }}" alt="" />
        </div>
      </a>
    </div>
  </div>
</div>
