
<div class="container">
  <div class="row m-5 no-gutters shadow-lg">
    <div class="col-md-6 d-none d-md-block">

      <video
        autoplay
        loop
        src="../../assets/animation_lk8v1n0a.mp4"
        style="height: 100%; width: 100%"
      ></video>
    </div>
    <div class="col-md-6 bg-white p-4">
      <h2 class="pb-3">Login</h2>
      <h4>Enter your login credentials:</h4>
      <br />
      <div class="form-style">
        <form>
          <!-- Email -->
          <div class="form-group pb-3">
            <label for="email">Email</label>
            <input type="text" [(ngModel)]="email" 
            [ngModelOptions]="{standalone: true}" 
            class="form-control" 
            id="email" 
            placeholder="Enter Email">
          </div>
          <!-- Password -->
          <div class="form-group pb-3">
            <label for="password">Password</label>

            <input type="password" 
            [(ngModel)]="password" 
            [ngModelOptions]="{standalone: true}" 
            class="form-control" 
            id="password" 
            placeholder="Enter Password">
          </div>
          <div class="pb-2">
            <button
              type="button"
              class="btn btn-dark w-100 font-weight-bold mt-2"
              (click)="login()"
            >
              Login
            </button>
          </div>
        </form>
        <div class="pt-4 text-center">
          Don't Have and Account?<a routerLink="/register" href="">/Register</a>
        </div>
      </div>
    </div>
  </div>
</div>
