<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>FAQs</title>
</head>
<body>
    <div class="wrapper">
        <p>Hello there, You are in </p>
        <h1>StreamCinema Legal Notes</h1>

        <div class="faq" id="f1" (click)="accordion('f1')">
            <button class="dropdown">
                Intellectual Property Rights
             <i class="fa-solid fa-chevron-down"></i>
            </button>
            <div class="answer" *ngIf="id === 'f1'">
                <p>
                    All copyrights, trademarks, patents, design rights, and other intellectual property rights (registered and unregistered) in and on StreamCinema belong to StreamCinema and/or third parties. Users may not use, copy, edit, vary, reproduce, publish, display, distribute, store, transmit, commercially exploit or disseminate the Intellectual Property without prior written consent.
                </p>
            </div>
        </div>

        <div class="faq" id="f2" (click)="accordion('f2')">
            <button class="dropdown">
                Accuracy of Information
             <i class="fa-solid fa-chevron-down"></i>
            </button>
            <div class="answer" *ngIf="id === 'f2'">
                <p>
                    While we strive to keep our database updated and as accurate as possible, StreamCinema does not guarantee the accuracy, reliability or completeness of the information provided on the site. Use of the site and reliance on any information from the site is solely at the user's own risk.
                </p>
            </div>
        </div>

        <div class="faq">
            <button class="dropdown"  id="f3" (click)="accordion('f3')">
                Third Party Links
             <i class="fa-solid fa-chevron-down"></i>
            </button>
            <div class="answer" *ngIf="id === 'f3'">
                <p>
                    The site may contain links to external websites that are not provided or maintained by or in any way affiliated with StreamCinema. Please note that StreamCinema does not guarantee the accuracy, relevance, timeliness, or completeness of any information on these external websites.
            </div>
        </div>

        <div class="faq"  id="f4" (click)="accordion('f4')">
            <button class="dropdown">
                Applicable Law
             <i class="fa-solid fa-chevron-down"></i>
            </button>
            <div class="answer" *ngIf="id === 'f4'">
                <p>
                    These terms and conditions and any disputes arising out of or in connection with it shall be governed by and construed in accordance with the laws of the jurisdiction in which StreamCinema operates.
                </p>
            </div>
        </div>
    </div>
</body>
</html>
