<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <span class="navbar-brand">StyleHub</span>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" id="active1" href="#"
            ><i class="bi bi-search"></i
          ></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="active2" href="#"
            ><i class="bi bi-person"></i
          ></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="active3" href="#"
            ><i class="bi bi-cart2"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<p>nav-bar works!</p>
