<!-- <p>detail works!</p>
<div>{{ movieData.title }}</div> -->

<div class="card-wrapper">
  <div class="card">
    <!-- card left -->
    <div class="movie-imgs">
      <div class="img-display">
        <div class="img-showcase">
          <img src="{{ movieData.image }}" alt="shoe image" />
        </div>
      </div>
    </div>
    <div class="movie-content">
      <div class="back-button">
        <a routerLink="viewAll" href="#" class="label">View All</a>
      </div>
      <h2 class="movie-title">{{ movieData.title }}</h2>
      <div class="movie-rating">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
        <span>{{ movieData.rating }}</span>
      </div>

      <div class="movie-detail">
        <h2>Movie Description:</h2>
        <p>{{ movieData.description }}</p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur,
          perferendis eius. Dignissimos, labore suscipit. Unde.
        </p>
        <ul>
          <li>
            Director: <span>{{ movieData.director }}</span>
          </li>
          <li>
            Genre: <span>{{ movieData.genre }}</span>
          </li>
          <li>
            Rank: <span>{{ movieData.rank }}</span>
          </li>
          <li>
            Year Relized: <span>{{ movieData.year }}</span>
          </li>
          <li>
            Writers: <span>{{ movieData.writers }}</span>
          </li>
        </ul>
      </div>
      <div class="category-btn">
        <button class="on-hover" type="button">View Triller</button>
      </div>
    </div>
  </div>
</div>

<div class="container py-3">
  <h2 class="font-weight-bold mb-2" style="color: aliceblue">Related Movies</h2>
  <p class="font-italic mb-4" style="color: aliceblue">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt.
  </p>

  <div class="row pb-5 mb-4">
    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
      <img
        src="https://target.scene7.com/is/image/Target/GUEST_233763ef-7af6-4a5c-a231-4d961ff31ab8?wid=488&hei=488&fmt=pjpeg"
        alt=""
        class="img-fluid d-block mx-auto mb-3"
      />
      <div>
        <div class="card-body p-4">
          <h5><a href="#" class="text-dark">Product Name</a></h5>
          <p class="small text-muted font-italic">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
