<br />
<div class="wrapper">
  <input [(ngModel)]="movieTitle" placeholder="Search movies by title..." />
  <button (click)="searchMovies()">Search</button>
</div>
<br />
<br />
<div class="collection">
  <div *ngFor="let movie of searchResults" href="#" class="card">
    <div>
      <a [routerLink]="['/details', movie.imdbID]" href="">
        <div class="content">
          <span style="text-align: center" class="title">{{
            movie.Title
          }}</span>
          <span class="category">Realized In: {{ movie.Year }}</span>
        </div>
        <div class="image">
          <img src="{{ movie.Poster }} " alt="" />
        </div>
      </a>
    </div>
  </div>
</div>
