<!-- <div class="wrapper">
  <h1>Search Movies</h1>
  <form [formGroup]="searchForm" (ngSubmit)="submitForm()">
    <input
      type="text"
      class="formControl"
      formControlName="movieTitle"
      placeholder="Search movies...."
    />
    <button>Search</button>
  </form>

  <div class="row">
    <div class="col-lg-4" *ngFor="let result of searchMovieResult">
      <div class="row">
        <div class="col-lg-3">
          <img src="{{ result.image }}" alt="" />
        </div>
        <div class="col-lg-9">
          <h3>Result:{{ result.title }}</h3>
        </div>
      </div>
    </div>
  </div>
</div> -->
