<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>FAQs</title>
</head>
<body>
    <div class="wrapper">
        <p>These Terms and Conditions ("Terms") govern your use of the Stylehub website ("Website") and the services provided by Stylehub ("Company"). By accessing or using the Website and services, you agree to be bound by these Terms. If you do not agree with any part of these Terms, please refrain from using our Website and services. </p>
        <h1>Terms and Conditions</h1>

        <div class="faq" id="f1" (click)="accordion('f1')">
            <button class="dropdown">
                StreamCinema Terms and Conditions
             <i class="fa-solid fa-chevron-down"></i>
            </button>
            <div class="answer" *ngIf="id === 'f1'">
                <p>
                    Last updated: July 23, 2023<br><br>

                    Welcome to StreamCinema!<br><br>
                    
                    These Terms and Conditions govern your use of StreamCinema and provide information about the StreamCinema Service, outlined below. When you create a StreamCinema account or use StreamCinema, you agree to these terms.
                   
                </p>
            </div>
        </div>

        <div class="faq" id="f2" (click)="accordion('f2')">
            <button class="dropdown">
                The StreamCinema Service
             <i class="fa-solid fa-chevron-down"></i>
            </button>
            <div class="answer" *ngIf="id === 'f2'">
                <p>
                    We agree to provide you with the StreamCinema Service. The Service includes all of the StreamCinema products, features, applications, services, technologies, and software that we provide to advance StreamCinema's mission: To connect people through movies and to provide a comprehensive database with ratings and descriptions.
                </p>
            </div>
        </div>

        <div class="faq">
            <button class="dropdown"  id="f3" (click)="accordion('f3')">
                Data We Collect
             <i class="fa-solid fa-chevron-down"></i>
            </button>
            <div class="answer" *ngIf="id === 'f3'">
                <p>
                    When you sign up for an account, you provide us with your login credentials, along with some basic necessary information such as email address and date of birth. For more information, please refer to our Privacy Policy.
                </p>
            </div>
        </div>

        <div class="faq"  id="f4" (click)="accordion('f4')">
            <button class="dropdown">
                Your Commitments
             <i class="fa-solid fa-chevron-down"></i>
            </button>
            <div class="answer" *ngIf="id === 'f4'">
                <p>
                    In return for our commitment to provide the Service, we require you to make the below commitments to us:<br><br>

                    You must be at least 13 years old.<br>
                    You must not be prohibited from receiving any aspect of our Service under applicable laws or engaging in payments related Services if you are on an applicable denied party listing.<br>
                    You must not share your password, let anyone else access your account, or do anything that might jeopardize the security of your account.<br>
                </p>
            </div>
        </div>

        <div class="faq"  id="f5" (click)="accordion('f5')">
            <button class="dropdown">
                Termination
             <i class="fa-solid fa-chevron-down"></i>
            </button>
            <div class="answer" *ngIf="id === 'f5'">
                <p>
                    If you violate these Terms and Conditions, or otherwise create risk or possible legal exposure for us, we can stop providing all or part of StreamCinema to you.
                </p>
            </div>
        </div>

        <div class="faq"  id="f6" (click)="accordion('f6')">
            <button class="dropdown">
                Disputes
             <i class="fa-solid fa-chevron-down"></i>
            </button>
            <div class="answer" *ngIf="id === 'f6'">
                <p>
                    Any dispute or claim arising out of or in connection with these terms or the breach, termination or invalidity thereof, shall be settled by arbitration in accordance with the applicable laws of your jurisdiction.
                </p>
            </div>
        </div>
    </div>
</body>
</html>
