.home-image-container {
    justify-content: center;
    display: flex;
}

.collections {
    justify-content: center;
    display: flex;
}

.home {
    width: 100%;
}
.summer-collection {
    width: 100%;
}
.pants-collection {
    width: 100%;
}
.shoes-collection {
    width: 100%;
}

