body {
    background-color: black;
  }
  
.home-image-container {
    justify-content: center;
    display: flex;
}

.collections {
    justify-content: center;
    display: flex;
}

.home {
    width: 100%;
    position: relative;
    display: inline-block;
}
.action-collection, .comedy-collection, .drama-collection, .all-collection {
    width: 300px;
    margin: 60px;
    
}

.button {
    border: none;
    background-color: transparent;
    
}

