<div class="home-image-container">
<img [src]="homeImage" alt="Male Fashion Model" class="home">
</div>
<div class="collections">
    <div class="summer-collection-container">
    <img [src]="summerCollection" alt="Male Fashion Model" class="summer-collection">
    </div>
    <div class="pants-collection-container">
        <img [src]="pantsCollection" alt="pants" class="pants-collection">
    </div>
</div>
<div class="shoes-container">
    <img [src]="shoesCollection" alt="" class="shoes-collection">
</div>
    