<br /><br/>
<div class="container">
  <div class="row m-5 no-gutters shadow-lg">
    <div class="col-md-6 d-none d-md-block">
      <video
        autoplay
        loop
        src="../../assets/animation_lk8v1n0a.mp4"
        style="height: 100%; width: 100%"
      ></video>
    </div>
    <div class="col-md-6 bg-white p-5" style="color: black;">
      <h2 class="pb-3">Register</h2>
      <h4>Please fill in the information below:</h4>
      <br />
      <div class="form-style">
        <form>
          <!-- First Name -->
          <div class="form-group pb-3">
            <label for="firstName">First Name</label>
            <input
              class="form-control"
              type="text"
              [(ngModel)]="firstName" 
              [ngModelOptions]="{standalone: true}" 
              id="firstName" 
              placeholder="Enter First Name"
            />
          </div>
          <!-- Last Name -->
          <div class="form-group pb-3">
            <label for="lastName">Last Name</label>
            <input
              class="form-control"
              type="text"
              [(ngModel)]="lastName" 
              [ngModelOptions]="{standalone: true}" 
              id="lastName" 
              placeholder="Enter Last Name"
            />
          </div>
            <!-- Email -->
            <div class="form-group pb-3">
              <label for="email">Email</label>
              <input type="text" 
                [(ngModel)]="email" 
                [ngModelOptions]="{standalone: true}"  
                class="form-control" 
                id="email" 
                placeholder="Enter Email">
            </div>
          <!-- Password -->
          <div class="form-group pb-3">
            <label for="password">Password</label>
            <input type="password" 
              [(ngModel)]="password" 
              [ngModelOptions]="{standalone: true}" 
              class="form-control" 
              id="password" 
              placeholder="Enter Password">
          </div>
          <!-- Confirm Password -->
          <div class="form-group pb-3">
            <label for="confirmPassword">Confirm Password</label>

            <input type="password" 
              [(ngModel)]="confirmPassword" 
              [ngModelOptions]="{standalone: true}" 
              class="form-control" 
              id="confirmPassword" 
              placeholder="Confirm Password">
          </div>
          <!-- Address -->
          <div class="form-group pb-3">
            <label for="address">Address</label>
            <input type="address" 
              [(ngModel)]="address" 
              [ngModelOptions]="{standalone: true}" 
              class="form-control" 
              id="address" 
              placeholder="Enter Address">
          </div>
          <!-- Phone Number -->
          <div class="form-group pb-3">
            <label for="phone">Phone Number</label>
            <input type="text" 
              [(ngModel)]="phone" 
              [ngModelOptions]="{standalone: true}" 
              class="form-control" 
              id="phone" 
              placeholder="Enter Mobile">
          </div>
      
          <div class="pb-2">
            <button

              type="button"
              class="btn btn-dark w-100 font-weight-bold mt-2"
              (click)="register()"
            >
              Register
            </button>
          </div>
          
        </form>
      
        <div class="pt-4 text-center">
          Don't Have and Account?<a routerLink="/login" href="">/Login</a>
        </div>
      </div>
    </div>
  </div>
</div>
<p></p>

