<br /><br />

<div class="container">
  <div class="row m-5 no-gutters shadow-lg">
    <div class="col-md-6 d-none d-md-block">
      <video
      autoplay
      loop
      src="../../assets/animation_lk8v1n0a.mp4"
      style="height: 100%; width: 100%"
    ></video>
    </div>
    <div class="col-md-6 bg-white p-5" style="color: black;">
      <h2 class="pb-3">Register</h2>
      <h4>Please fill in the information below:</h4>
      <br />
      <div class="form-style">
        <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
          <!-- Username -->
          <div class="form-group pb-3">
            <label for="username">Username</label>
            <input class="form-control" formControlName="username" type="text" />
            <div
              class="text-danger"
              *ngIf="registerForm.get('username').errors?.['required']"
            >
              Username is required.
            </div>
          </div>

          <!--Email-->
          <div class="form-group pb-3">
            <label for="username">Email</label>
            <input class="form-control" formControlName="email" type="text" />
            <div
              class="text-danger"
              *ngIf="registerForm.get('email').errors?.['required']"
            >
              Email is required.
            </div>
          </div>
          <!-- Password -->
          <div class="form-group pb-3">
            <label for="password">Password</label>
            <input
              class="form-control"
              formControlName="password"
              type="password"
              name="password"
              id="password"
            />
            <div
              class="text-danger"
              *ngIf="registerForm.get('password').errors?.['required']"
            >
              Password is required.
            </div>
          </div>
          <!-- Confirm Password -->
          <div class="form-group pb-3">
            <label for="confirmPassword">Confirm Password</label>
            <input
              class="form-control"
              formControlName="confirmPassword"
              type="password"
              name="confirmPassword"
              id="confirmPassword"
            />
            <div
              class="text-danger"
              *ngIf="registerForm.get('confirmPassword').errors?.['required']"
            >
              Confirm Password is required.
            </div>
          </div>
      
          <div class="pb-2">
            <button
              
              type="submit" class="btn btn-dark w-100 font-weight-bold mt-2">
              Register
            </button>
          </div>
          
        </form>
      
        <div class="pt-4 text-center">
          Don't Have and Account?<a routerLink="/login" href="">/Login</a>
        </div>
      </div>
    </div>
  </div>
</div>
<p></p>