<div class="main-head text-center">
  <h2>Search for what you love</h2>
  <h6>See all {{ genre }} Movies</h6>
</div>
<div class="collection" *ngIf="movies.length > 0">
  <div href="#" class="card" *ngFor="let movie of movies">
    <a routerLink="details" href="">
      <div class="content">
        <span class="title">{{ movie.title }}</span>
        <span class="category">Realized In: {{movie.year}} </span>
      </div>
      <div class="image">
        <img [src]="movie.image" alt="Movie Poster">
      </div>
    </a>
  </div>
  <!-- Placeholder all the way down remove it -->
  <div href="#" class="card">
    <a routerLink="details" href="">
      <div class="content">
        <span class="title">Movie Title</span>
        <span class="category">Realized In: 1990</span>
      </div>
      <div class="image">
        <img
          src="https://lumiere-a.akamaihd.net/v1/images/p_disneymovies_avatarthewayofwater_streamingupdate_2096_0908fa1b.jpeg"
          alt=""
        />
      </div>
    </a>
  </div>
  <div href="#" class="card">
    <a routerLink="details" href="">
      <div class="content">
        <span class="title">Movie Title</span>
        <span class="category">Realized In: 1990</span>
      </div>
      <div class="image">
        <img
          src="https://lumiere-a.akamaihd.net/v1/images/p_disneymovies_avatarthewayofwater_streamingupdate_2096_0908fa1b.jpeg"
          alt=""
        />
      </div>
    </a>
  </div>
  <div href="#" class="card">
    <a routerLink="details" href="">
      <div class="content">
        <span class="title">Movie Title</span>
        <span class="category">Realized In: 1990</span>
      </div>
      <div class="image">
        <img
          src="https://lumiere-a.akamaihd.net/v1/images/p_disneymovies_avatarthewayofwater_streamingupdate_2096_0908fa1b.jpeg"
          alt=""
        />
      </div>
    </a>
  </div>
  <div href="#" class="card">
    <a routerLink="details" href="">
      <div class="content">
        <span class="title">Movie Title</span>
        <span class="category">Realized In: 1990</span>
      </div>
      <div class="image">
        <img
          src="https://lumiere-a.akamaihd.net/v1/images/p_disneymovies_avatarthewayofwater_streamingupdate_2096_0908fa1b.jpeg"
          alt=""
        />
      </div>
    </a>
  </div>
  <div href="#" class="card">
    <a routerLink="details" href="">
      <div class="content">
        <span class="title">Movie Title</span>
        <span class="category">Realized In: 1990</span>
      </div>
      <div class="image">
        <img
          src="https://lumiere-a.akamaihd.net/v1/images/p_disneymovies_avatarthewayofwater_streamingupdate_2096_0908fa1b.jpeg"
          alt=""
        />
      </div>
    </a>
  </div>
  <div href="#" class="card">
    <a routerLink="details" href="">
      <div class="content">
        <span class="title">Movie Title</span>
        <span class="category">Realized In: 1990</span>
      </div>
      <div class="image">
        <img
          src="https://lumiere-a.akamaihd.net/v1/images/p_disneymovies_avatarthewayofwater_streamingupdate_2096_0908fa1b.jpeg"
          alt=""
        />
      </div>
    </a>
  </div>
  <div href="#" class="card">
    <a routerLink="details" href="">
      <div class="content">
        <span class="title">Movie Title</span>
        <span class="category">Realized In: 1990</span>
      </div>
      <div class="image">
        <img
          src="https://lumiere-a.akamaihd.net/v1/images/p_disneymovies_avatarthewayofwater_streamingupdate_2096_0908fa1b.jpeg"
          alt=""
        />
      </div>
    </a>
  </div>
  <div href="#" class="card">
    <a routerLink="details" href="">
      <div class="content">
        <span class="title">Movie Title</span>
        <span class="category">Realized In: 1990</span>
      </div>
      <div class="image">
        <img
          src="https://lumiere-a.akamaihd.net/v1/images/p_disneymovies_avatarthewayofwater_streamingupdate_2096_0908fa1b.jpeg"
          alt=""
        />
      </div>
    </a>
  </div>
</div>
-->