<div class="main-head text-center">
  <h2>Search for what you love</h2>
  <h6>See all {{ genre }} Movies</h6>
</div>

<div class="collection" *ngIf="movies.length > 0">
  <div href="#" class="card" *ngFor="let movie of movies">
    <a [routerLink]="['/details', movie.id]" href="">
      <div class="content">
        <span class="title">{{ movie.title }}</span>
        <span class="category">Realized In: {{movie.year}} </span>
      </div>
      <div class="image">
        <img [src]="movie.image" alt="Movie Poster">
      </div>
    </a>
  </div>
</div>