<!-- <p>collections works!</p> -->
<div class="container mt-3">
  <div class="row">
    <div class="card col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <a routerLink="/detail" href="">
        <div class="card-img">
          <img
            class="card-img-top"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_KWeoNXhNUxieGj3ZE9mxeF2WpnCJ6VxKNRe6XlmNueMyyL7dastuwkPf89br75L3foY&usqp=CAU"
            alt="Card image cap"
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">Product Name</h5>
          <p class="card-text">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.
          </p>
          <p>$320.00</p>
        </div>
      </a>
    </div>
    <div class="card col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card-img">
        <img
          class="card-img-top"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR65yxYXztkdjDnV0TOxDZZfdqUqRLW7zpaZw&usqp=CAU"
          alt="Card image cap"
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Product Name</h5>
        <p class="card-text">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.
        </p>
        <p>$320.00</p>
      </div>
    </div>
    <div class="card col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card-img">
        <img
          class="card-img-top"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScMav_Th4I34k_UM198v7deQR18tvlpxn25Q&usqp=CAU"
          alt="Card image cap"
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Product Name</h5>
        <p class="card-text">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.
        </p>
        <p>$320.00</p>
      </div>
    </div>
    <div class="card col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card-img">
        <img
          class="card-img-top"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpdOBNUv9oUKn6Suvz4cRmR4DaZP8BWf1Viw&usqp=CAU"
          alt="Card image cap"
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Product Name</h5>
        <p class="card-text">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.
        </p>
        <p>$320.00</p>
      </div>
    </div>
    <div class="card col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card-img">
        <img
          class="card-img-top"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTM0pWBaDq88slS2ZyAonoAq0VeGXa_lVNCgL_BGdN33T8bp3ujAYgXRCzZzQ_jn3UKopU&usqp=CAU"
          alt="Card image cap"
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Product Name</h5>
        <p class="card-text">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.
        </p>
        <p>$320.00</p>
      </div>
    </div>
    <div class="card col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card-img">
        <img
          class="card-img-top"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9jSfEKYuLG7yLEnk4tvlflfANGFNz5r5o2kxRU3lc62D7tVBJfX87PQp1SQsCn-_wuGs&usqp=CAU"
          alt="Card image cap"
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Product Name</h5>
        <p class="card-text">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.
        </p>
        <p>$320.00</p>
      </div>
    </div>
    <div class="card col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card-img">
        <img
          class="card-img-top"
          src="https://www.converse.com/dw/image/v2/BCZC_PRD/on/demandware.static/-/Sites-cnv-master-catalog/default/dw1b955a33/images/b_08/10025275-A02_B_08X1.jpg?sw=406"
          alt="Card image cap"
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Product Name</h5>
        <p class="card-text">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.
        </p>
        <p>$320.00</p>
      </div>
    </div>
    <div class="card col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card-img">
        <img
          class="card-img-top"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQxvEJHTVk3KNl2Nhz184qWAdiFJUUIdAmnVtoBkpPu7qkP5UNwUcW329xyRdCVmJQwv8&usqp=CAU"
          alt="Card image cap"
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Product Name</h5>
        <p class="card-text">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.
        </p>
        <p>$320.00</p>
      </div>
    </div>
    <div class="card col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card-img">
        <img
          class="card-img-top"
          src="https://www.converse.com/dw/image/v2/BCZC_PRD/on/demandware.static/-/Sites-cnv-master-catalog/default/dwfc320103/images/b_08/10024736-A02_B_08X1.jpg?sw=406"
          alt="Card image cap"
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Product Name</h5>
        <p class="card-text">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.
        </p>
        <p>$320.00</p>
      </div>
    </div>
  </div>
</div>
